.sidebar-menu-item {
  padding: 16px;
  font-size: 16px;
  color: #000;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.sidebar-menu-item:hover {
  background-color: #e6f7ff;
  color: #1890ff;
  transform: translateY(-3px);
}

.sidebar-menu-item.active {
  background-color: #1890ff;
  color: #fff;
}

.sidebar {
  height: 100vh;
  background-color: #f0f2f5;
  overflow-y: auto;
}
